@model pharmace.Models.Category

@{
    ViewData["Title"] = "تعديل";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<div class="section">
    <div class="container-fluid">
        <div class="modal-body">
            <form asp-action="editcat" asp-controller="Dashboard" dir="rtl" enctype="multipart/form-data" class="border p-4 my-4 bg-light shadow rounded">
                <input type="text" name="id" hidden value="@Model.Id" class="form-control">

                <div class="mb-3">
                    <label for="categoryName" class="form-label">اسم القسم</label>
                    <input type="text" name="Name" value="@Model.Name" class="form-control" id="categoryName">
                </div>
                <div class="mb-3">
                    <div class="d-flex justify-content-start mb-4">
                        <img id="selectedAvatar" src="@Url.Action("GetImage", "Dashboard", new { fileName = Model.Image })"
                             class="rounded-circle" style="width: 150px; height: 150px; object-fit: cover;" alt="example placeholder" />
                    </div>
                    <div class="d-flex justify-content-start">
                        <div class="mb-3">
                            <label for="imageOfCategory" class="form-label">اختر صورة</label>
                            <input type="file" class="form-control" name="image" accept="image/*" id="imageOfCategory" onchange="displaySelectedImage(event, 'selectedAvatar')">
                        </div>
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-success"> حفظ </button>
                        <a asp-controller="Dashboard" asp-action="AllCategories">
                            <button type="button" class="btn btn-danger text-nowrap" style="width: 100px;">إلغاء</button>
                        </a>
                    </div>
            </form>
        </div>

    </div>
</div>


@section Scripts {
    <script>
        function displaySelectedImage(event, elementId) {
            const selectedImage = document.getElementById(elementId);
            const fileInput = event.target;

            if (fileInput.files && fileInput.files[0]) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    selectedImage.src = e.target.result;
                };

                reader.readAsDataURL(fileInput.files[0]);
            }
        }
    </script>

}