
@{
    ViewData["Title"] = "صفحة التواصل ";
}


<!--== Start Preloader Content ==-->
<div class="preloader-wrap">
    <div class="preloader">
        <span class="dot"></span>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!--== End Preloader Content ==-->

<div class="container my-5">
    <div class="row d-flex justify-content-center">
        <!-- Contact Information -->
        <div class="col-12 col-md-6">
            <div class="contact-content mb-4">
                <h3 class="mb-4" style="color: #519194;">تواصل معنا</h3>
                <p>
                    نحن نعمل باستمرار لجعل تجربتك في طلب الأدوية أون لاين أفضل وأسهل لك لتجنب عناء البحث عن دواء في
                    الصيدليات و يمكنك التواصل عبر رقم الهاتف او عن طريق البريد الالكترونى
                </p>
            </div>
            <div class="contact-info border rounded p-4 bg-light mb-4">
                <div class="d-flex align-items-center mb-3 gap-3">
                    <i class="fa-solid fa-phone fa-lg" style="color: #499697;"></i>
                    <a href="tel:012345678" style="color: inherit; text-decoration: none;">
                        <span>01020304050</span>
                    </a>
                </div>
                <div class="d-flex align-items-center mb-3 gap-3">
                    <i class="fa-solid fa-envelope" style="color: #499697;"></i>
                    <a href="mailto:support@elbaz.com" style="color: inherit; text-decoration: none;">
                        <span>support@elbaz.com</span>
                    </a>
                </div>
            </div>

        </div>
        <!-- Contact Image -->
        <div class="col-12 col-md-6">
            <img src="~/assets/images/logo/contact.jpg" alt="contact us" class="img-fluid">
        </div>
    </div>
</div>


<!-- whatsApp icon -->
<button type="button" class="btn btn-success whatsapp-button" data-bs-toggle="tooltip" data-bs-placement="left"
        title="تواصل معنا عن طريق الواتساب">
    <a href="https://wa.me/01066360219" target="_blank" class="text-white">
        <i class="fab fa-whatsapp"></i>
    </a>
</button>


<!-- Scroll Top Button -->
<button class="scroll-top tran3s">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</button>
