@using pharmace.Models
@{
    // Layout = "/Views/Shared/__LoginLayout.cshtml";
    ViewData["Title"] = "تسجيل الدخول";

}
@model userpermations



<!--== Start Preloader Content ==-->
<div class="preloader-wrap">
    <div class="preloader">
        <span class="dot"></span>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!--== End Preloader Content ==-->




<section class="container d-flex justify-content-center mt-5">
    <div class="col-md-7 px-4">
        <div class="text-center mt-5">
            <h3 class="text-second mb-4" style="color: #075830; font-weight: 700;">تسجيل الدخول</h3>
        </div>

        <form class="form-floating" asp-controller="Home" asp-action="Login">
            <div class="row mt-5">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input asp-for="Email" type="email" class="form-control" id="custEmail" name="Email" placeholder="البريد الإلكتروني"
                               required>
                        <label for="custEmail">عنوان البريد الإلكتروني</label>

                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col">
                    <div class="form-floating mb-3">
                        <input asp-for="Password" type="password" class="form-control" id="password" name="password" placeholder="كلمة السر"
                               required>
                        <label for="password">كلمة السر</label>
                    </div>
                </div>
            </div>

            <div class="my-3">
                <label class="form-check-label" for="exampleCheck1">تذكر تسجيل الدخول </label>
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
            </div>
            <div class="d-grid gap-3 text-center my-4">

            <button class="btn btn-success rounded-5 custom-button" type="submit">تسجيل الدخول</button>
            </div>

        </form>

        <div class="d-grid gap-3 text-center my-4">
            <p>
                لا يوجد لديك حساب؟
                <a asp-action="signup" asp-controller="Home" class="text-second text-decoration-none" style="color: #075830;">انشئ حسابك الآن</a>
            </p>
            <p>
                هل نسيت كلمة المرور؟
                <a href="#" class="text-second text-decoration-none" style="color: #075830;">استعادة كلمة المرور</a>
            </p>
        </div>
    </div>
</section>