@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
    @if (User.Claims.FirstOrDefault(i => i.Type == "role")?.Value == "admin")
    {
        <p>Use this page to detail your site's privacy policy.</p>
    }