@model ErrorViewModel
@{
    ViewData["Title"] = "خطأ";
}

<style>
    #error {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        & h1

    {
        font-size: 90px;
    }

    }
</style>


<div id="error" class="text-center">
    <h1 class="mt-5">404 Not Found</h1>
    <h5 class="mt-5 mb-5">هذا المحتوى غير موجود</h5>
    <button routerLink="/home" class="btn btn-danger px-5 py-3">العودة الى الصفحة الرئيسية</button>
</div>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}


